swagger: "2.0"
info:
  description: "Travellers API - Travellers Inc. [https://travellers.io](https://travellers.io)"
  version: "1.0.0"
  title: "Traveller API"
  termsOfService: "https://travellers.io/termsofservice"
  contact:
    email: "contact@travellers.io"
host: "api.travellers.io"
basePath: "/v1"
tags:
- name: "traveller"
  description: "Details on the travelling individual"
  externalDocs:
    description: "Travellers Developer Portal"
    url: "http://developer.travellers.io"
- name: "platform"
  description: "3P social media platform reference"
  externalDocs:
    description: "Travellers Developer Portal"
    url: "http://developer.travellers.io"
schemes:
- "https"
- "http"
paths:
  /traveller:
    post:
      tags:
      - "traveller"
      summary: "Add a new traveller"
      description: "New traveller identified in association to a platform"
      operationId: "addTraveller"
      consumes:
      - "application/json"
      produces:
      - "application/xml"
      parameters:
      - in: "body"
        name: "body"
        description: "Traveller object needed to be added to platform"
        required: true
        schema:
          $ref: "#/definitions/Traveller"
      responses:
        "405":
          description: "Invalid input"
    put:
      tags:
      - "traveller"
      summary: "Update an existing traveller"
      description: "Update existing traveller relation and data to platform"
      operationId: "updateTraveller"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Traveller to be added to Platform"
        required: true
        schema:
          $ref: "#/definitions/Traveller"
      responses:
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Traveller not found"
        "405":
          description: "Validation exception"
  /traveller/{travellerId}:
    get:
      tags:
      - "traveller"
      summary: "Get traveller by ID"
      description: "Returns a traveller"
      operationId: "getTravelerById"
      produces:
      - "application/json"
      parameters:
      - name: "travellerId"
        in: "path"
        description: "Traveller ID"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Traveller"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Traveller not found"
  /platform/{platformId}:
    get:
      tags:
      - "platform"
      summary: "Get platform by ID"
      description: "Returns a platform"
      operationId: "getPlatformById"
      produces:
      - "application/json"
      parameters:
      - name: "platformId"
        in: "path"
        description: "Platform ID"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Platform"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Platform not found"
definitions:
  Traveller:
    type: "object"
    properties:
      id:
        type: "string"
      username:
        type: "string"
      email:
        type: "string"
  Platform:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      country:
        type: "string"